project_name           = "azfunc-maria"
mariadb_admin_username = "adminuser"
mariadb_admin_password = "P@ssword1234"
allowed_ip_address     = "☆通信を許可するIPアドレス☆"
storage_account_name = "azfunc-maria-storage"
function_app_name = "azfunc-maria-function-app"
